<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div class="invoice-header" style="display:flex;">
      <div class="surround-logo-div" style="width: 50%; margin-left:5%;">
        <img class="invoice-logo" src={{sender.logo_link}} alt={{sender.name}} style="max-width: 100%; height:auto;"></img>
      </div>
      <div class="surround-namebox-div" style="margin-right: 5%; margin-left: auto; width: 25%; max-width: 45%;">
        <div class="date" style="color:darkgrey; font-size:1em; text-align:right; margin-bottom: 10px;">{{ invoice_date }}</div>
        <div class="namebox" style="padding: 7px; border: solid; border-color: black; border-width: 1px;">
          <div class="namebox_namerow" style="margin-bottom:10px;">{{ customer.name }}</div>
          {{ customer.address }} <br>
          {{ customer.city }} <br>
          {{ customer.country }}
        </div>
      </div>
    </div>
    <div class="invoice-number-box" style="text-align:center;">
      <div class="invoice-header" style="font-size: 3em; padding-bottom:0px;">Faktura</div>
      <div class="invoice-number"style="font-size: 1.5em; color:grey;">#{{ invoice.id }}#</div>
    </div>
      <div class="services-table" style="text-align: center; border:solid; border-width:1px; border-color:grey; min-height: 300px;">
        <div class="services-table-head" style="display:flex; background-color: lightgrey; font-size:1.5em; border-bottom: solid; border-width: 1px; border-color:black;">
          <div class="amount-of-service-head" style="width: 10%;"> antal </div>
          <div class="name-of-service-head" style="width: 60%;"> tjänst </div>
          <div class="price-per-service-head" style="width: 15%;"> pris styck </div>
          <div class="price-tot-of-service-head" style="width: 15%;"> pris tot </div>
        </div>
        {% for service in services %}
        <div class="service-row" style="display: flex">
          <div class="service-amount" style="width: 10%;">
            {{ service.amount }}
          </div>
          <div class="service-name" style="width: 60%;">
            {{ service.service_name }}
          </div>
          <div class="service-price-per" style="width: 15%;">
            {{ service.price_per }}
          </div>
          <div class="service-price-tot" style="width: 15%;">
            {{ service.price_total }}
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="total-price-block-outside-border" style="margin-left:auto; margin-right:0; width:60%;">
      <div class="total-price-block" style="text-align:right; font-size: 1.5em; border: solid; border-color:black; border-width:1px;">
        <div class="total-price" style="border-bottom: solid; display:flex;">
          <div class="total-price-sum-text" style="border-right:solid; width: 75%;  border-width:1px;">
            Totalt belopp
          </div>
          <div class="total-price-sum" style="width: 25%;">
            {{ total_price_for_all }}
          </div>
        </div>
        <div class="total-price-vat" style="display:flex;">
          <div class="total-price-vat-sum-text" style="border-right:solid; width: 75%;  border-width:1px;">
            Totalt belopp inklusive moms*
          </div>
          <div class="total-price-vat-sum" style="width: 25%;">
            {{ total_price_for_all }}
          </div>
        </div>
      </div>
      <div class="tax-not-included" style="font-size: 1em; color:darkgrey;">
        *Tjänster säljes svart, ingen moms betalas
      </div>
    </div>
    <div class="payment-details-row" style="display:flex; margin-top: 50px; text-align: center; border: solid; border-color:black; border-width:1px; font-size:1.5em;">
      <div class="payment-method" style="border-right:solid; border-width:1px; font-weight:bold; width:30%;">
        {{ sender.payment_method }}
      </div>
      <div class="payment-account" style="border-right:solid; border-width:1px; width: 40%;">
        {{ sender.account_number }}
      </div>
      <div class="payment-account" style="width:30%;">
        {{ total_price_for_all }} kr
      </div>
    </div>
    <div class="disclosure-text" style="text-align:center; color:darkgrey; margin-top: 30px; text-align:center; padding-bottom: 20px; border-bottom:solid; border-color:black; border-width: 3px;">
      Inbetalning ska ske snabbast möjligt. Vid för lång väntan kommer fakturan vidarebefordras till Hubbe. Hubbe är läskig. Vid eventuella klagomål eller frågor
      <a href={{sender.complaint_link}} style="text-decoration: underline; color:blue;">klicka här.</a>
    </div>
    <div class="invoice-footer" style="text-align:center; margin-top:15px; color:darkgrey; font-size:0.7em;">
      <div class="invoice-footer-top" style="display: flex;">
        <div class="sender-address" style="width:50%;">
          {{ sender.name }} <br>
          {{ sender.address }} <br>
          {{ sender.zip_code}} {{ sender.city }}
        </div>
        <div class="sender-contact" style="width:50%;">
          OrgNr: {{ sender.organisation_number }} <br>
          Epost: {{ sender.email }} <br>
          Telnr: {{ sender.phone_number }}
        </div>
      </div>
      <div class="invoice-footer-bottom" style="margin-top: 10px;">
        {{sender.payment_method}}: {{sender.account_number}}
      </div>
    </div>
  </body>
</html>
