<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/invoice.css">
  </head>
  <body>
    <img class="invoice-logo" src={{sender.logo_link}} alt={{sender.name}}></img>
    <!-- TODO: OVAN ADD MÅTT -->
    <!-- <div class="date grey-text">{{ invoice_date }}</div> -->
    <div class="namebox">
      <div class="namebox_namerow">{{ customer.name }}</div>
      {{ customer.address }}
      {{ customer.city }}
      {{ customer.country }}
    </div>
    <div class="invoice-number-box" style="text-align:center;">
      <div class="invoice-header" style="font-size: 3em; padding-bottom:0px;">Faktura</div>
      <div class="invoice-number"style="font-size: 1.5em; color:grey;">#{{ invoice.id }}#</div>
    </div>
    antal
    tjänster
    pris styck
    pris tot
    <div class="services-table" style="display:flex; border-bottom: solid; border-left:solid; border-top:solid; border-width:1px; border-color:black; min-height: 600px;">
      <div class="amount-of-service-list" style="width: 15%; height: auto; border-right:solid; border-width:1px; border-color:black">
        <div class="amount-service-head" style="text-align: center; background-color:lightgrey; font-size:1.5em; border-bottom: solid; border-width: 1px; border-color:black;">
          antal
        </div>
        {% for service in services %}
        <div class="service-amount">
          {{ service.amount }}
        </div>
        {% endfor %}
      </div>
        <div class="name-of-service-list" style="width: 55%; height: auto; border-right:solid; border-width:1px; border-color:black">
          <div class="name-of-service-head" style="text-align: center; background-color:lightgrey; font-size:1.5em; border-bottom: solid; border-width: 1px; border-color:black;">
            tjänst
          </div>
          {% for service in services %}
          <div class="service-name">
            {{ service.service_name }}
          </div>
          {% endfor %}
      </div>
      <div class="price-per-service-list" style="width: 15%; height: auto; border-right:solid; border-width:1px; border-color:black">
        <div class="price-per-service-head" style="text-align: center; background-color:lightgrey; font-size:1.5em; border-bottom: solid; border-width: 1px; border-color:black;">
          Styckpris
        </div>
        {% for service in services %}
        <div class="service-price-per">
          {{ service.preice_per }}
        </div>
        {% endfor %}
    </div>
    <div class="price-of-service-list" style="width: 15%; height: auto; border-right:solid; border-width:1px; border-color:black">
      <div class="price-per-service-head" style="text-align: center; background-color:lightgrey; font-size:1.5em; border-bottom: solid; border-width: 1px; border-color:black;">
        Totalpris
      </div>
      {% for service in services %}
      <div class="service-price">
        {{ service.price_total }}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
